In [2]:
import pandas as pd
from neo4j import GraphDatabase
# from py2neo import Graph
# graph = Graph()

In [8]:
uri = "neo4j://localhost:7687"
conn = GraphDatabase.driver(uri, auth=("neo4j", "Ass2DB"), max_connection_lifetime=1000)

### examples

In [9]:
# CQL to create a graph containing some of the Ivy League universities
cqlCreate = "CREATE (cornell:university { name: 'Cornell University'})"

#CQL to query all the universities present in the graph
cqlNodeQuery = "MATCH (x:university) RETURN x"

In [10]:
# Execute the CQL query
with conn.session() as graphDB_Session:

    # Create nodes

    graphDB_Session.run(cqlCreate)

In [11]:
# Query the graph    
with conn.session() as graphDB_Session:
    nodes = graphDB_Session.run(cqlNodeQuery)
    
    print("List of Ivy League universities present in the graph:")

    for node in nodes:

        print(node)

List of Ivy League universities present in the graph:
<Record x=<Node id=0 labels=frozenset({'university'}) properties={'name': 'Cornell University'}>>
<Record x=<Node id=1 labels=frozenset({'university'}) properties={'name': 'Cornell University'}>>

Citations.csv: Contains info about citations between articles (articleId,--[Cites]->,
articleId).

## Article Nodes

In [3]:
art = pd.read_csv('Citation Dataset\\ArticleNodes.csv', header=None)
art.columns = ['id','title','year','journal','abstract']
art.head() # 29555

,id,title,year,journal,abstract
0,1001,Compactification Geometry and Duality: N=2,2000,NaN,These are notes based on lectures given at T...
1,1002,Domain Walls and Massive Gauged Supergravity P...,2000,Class.Quant.Grav.,We point out that massive gauged supergravit...
2,1003,Comment on Metric Fluctuations in Brane Worlds,2000,NaN,Recently- Ivanov and Volovich (hep-th/991224...
3,1004,Moving Mirrors and Thermodynamic Paradoxes,2000,Phys.Rev.,Quantum fields responding to moving mirrors...
4,1005,Bundles of chiral blocks and boundary conditio...,2000,NaN,Various aspects of spaces of chiral blocks a...

## Author Attributes

In [4]:
aut = pd.read_csv('Citation Dataset\\AuthorNodes.csv', header=None)
aut.columns = ['id','author']
#aut = aut.groupby('id')['author'].apply(list).reset_index(name='authors') # 29554
aut.head()

     id             author
0  1001  Paul S. Aspinwall
1  1002          C.N. Pope
2  1002          M. Cvetic
3  1002              H. Lu
4  1003         Y.S. Myung

# Nodes
https://pythontic.com/database/neo4j/create%20nodes%20and%20relationships

In [5]:
nodes = aut.merge(art, how='left', on='id')
nodes = nodes[:100]
nodes

,id,author,title,year,journal,abstract
0,1001,Paul S. Aspinwall,Compactification Geometry and Duality: N=2,2000,NaN,These are notes based on lectures given at T...
1,1002,C.N. Pope,Domain Walls and Massive Gauged Supergravity P...,2000,Class.Quant.Grav.,We point out that massive gauged supergravit...
2,1002,M. Cvetic,Domain Walls and Massive Gauged Supergravity P...,2000,Class.Quant.Grav.,We point out that massive gauged supergravit...
3,1002,H. Lu,Domain Walls and Massive Gauged Supergravity P...,2000,Class.Quant.Grav.,We point out that massive gauged supergravit...
4,1003,Y.S. Myung,Comment on Metric Fluctuations in Brane Worlds,2000,NaN,Recently- Ivanov and Volovich (hep-th/991224...
...,...,...,...,...,...,...
95,1052,J.J.Rosales,On the Schrodinger Equation for the Minisupers...,2000,NaN,We obtain a time-dependent Schrodinger equat...
96,1052,V.I.Tkach,On the Schrodinger Equation for the Minisupers...,2000,NaN,We obtain a time-dependent Schrodinger equat...
97,1052,A.Pashnev,On the Schrodinger Equation for the Minisupers...,2000,NaN,We obtain a time-dependent Schrodinger equat...
98,1053,Juan Maldacena,Strings in AdS_3 and the SL(2 R) WZW Model. Pa...,2000,J.Math.Phys.,In this paper we study the spectrum of boson...
99,1053,Hirosi Ooguri,Strings in AdS_3 and the SL(2 R) WZW Model. Pa...,2000,J.Math.Phys.,In this paper we study the spectrum of boson...

In [6]:
authlist = []
for a in nodes['authors'][0]:
    authlist.append(a)
authlist

['Paul S. Aspinwall']

### DAter

In [16]:
# "CREATE (cornell:university { name: 'Cornell University'})"
cqlCreate = "CREATE ({}:ID".format(nodes['id'][0]) + " {" + "title: "'"{}"'", year: {}, journal: "'"{}"'"".format(str(nodes['title'][0]), nodes['year'][0], str(nodes['journal'][0]) ) + "})"
    #, str(nodes['abstract'][0]), authlist) + "})"    # , abstract: "'"{}"'", authors: {} # up top
cqlCreate

'CREATE (1001:ID {title: "Compactification  Geometry and Duality: N=2", year: 2000, journal: "nan"})'

In [8]:
# Execute the CQL query

with conn.session() as graphDB_Session:

    # Create nodes

    graphDB_Session.run(cqlCreate)

Unable to retrieve routing information

ServiceUnavailable: Unable to retrieve routing information

In [16]:
# CQL to create a graph containing some of the Ivy League universities
#CREATE (n:Person {name: 'Andy', title: 'Developer'})

cqlCreate = 'CREATE ({}:ID {title: {}, year: {}, journal: {}, abstract: {}, authors: {}  })'.format(
    nodes['id'][0], str(nodes['title'][0]), nodes['year'][0], str(nodes['journal'][0]), 
    str(nodes['abstract'][0]), nodes['authors'][0] )
cqlCreate

KeyError: 'title'

In [ ]:
 

(cornell)-[:connects_in {miles: 259}]->(yale),

(cornell)-[:connects_in {miles: 210}]->(princeton),

(cornell)-[:connects_in {miles: 327}]->(harvard),

 

(yale)-[:connects_in {miles: 259}]->(cornell),

(yale)-[:connects_in {miles: 133}]->(princeton),

(yale)-[:connects_in {miles: 133}]->(harvard),

 

(harvard)-[:connects_in {miles: 327}]->(cornell),

(harvard)-[:connects_in {miles: 133}]->(yale),

(harvard)-[:connects_in {miles: 260}]->(princeton),

 

(princeton)-[:connects_in {miles: 210}]->(cornell),

(princeton)-[:connects_in {miles: 133}]->(yale),

(princeton)-[:connects_in {miles: 260}]->(harvard)

In [ ]:
graph = Graph()

tx = graph.begin()
for name in ["Alice", "Bob", "Carol"]:
    tx.append("CREATE (person:Person name: $name) RETURN person", name=name)
alice, bob, carol = [result.one for result in tx.commit()]

In [43]:
tx = conn.begin()
tx.evaluate('''
CREATE (n:Person {name: 'Andy', title: 'Developer'})
''')
tx.commit()

AttributeError: 'Neo4jDriver' object has no attribute 'begin'

In [32]:
for index, row in df.iterrows():
    tx = graph.begin()
    tx.evaluate('''
       MATCH (a:Label1 {property:$label1}), (b:Label2 {property:$label2})
       MERGE (a)-[r:R_TYPE{property_name:$p}]->(b)
       ''', parameters = {'label1': row['label1'], 'label2': row['label2'], 'p': row['property']})
    tx.commit()

            id                             authors
0         1001                 [Paul S. Aspinwall]
1         1002       [C.N. Pope, M. Cvetic, H. Lu]
2         1003          [Y.S. Myung, Gungwon Kang]
3         1004                    [Adam D. Helfer]
4         1005           [J. Fuchs, C. Schweigert]
...        ...                                 ...
29549  9912290                      [Dirk Kreimer]
29550  9912291           [S. Nussinov, O. Kenneth]
29551  9912292  [F.Delduc, E. Ivanov, S. Krivonos]
29552  9912293                       [L. Cornalba]
29553  9912294  [A. Y. Marko, L. F. Blazhyjevskii]

[29554 rows x 2 columns]

## Citation Relationships

In [15]:
cit = pd.read_csv('Citation Dataset\\Citations.csv', sep = '\t', header=None)
cit.columns = ['id1','id2']
cit.head()

    id1      id2
0  1001  9304045
1  1001  9308122
2  1001  9309097
3  1001  9311042
4  1001  9401139

# Populate the database

This is achieved in three steps.  First, we create all constraints guaranteeing the uniqueness of each node.  Second, we create the each of the nodes themselves.  Finally, we create the relationships between all nodes (`:AUTHORED` and `:IN_CATEGORY`). 

https://colab.research.google.com/drive/1J9__HotNoINHpucoipLH-4qWc48GALAk?usp=sharing#scrollTo=D85NxPXhEkvw

In [ ]:
conn.query('CREATE CONSTRAINT papers IF NOT EXISTS ON (p:Paper) ASSERT p.id IS UNIQUE')
conn.query('CREATE CONSTRAINT authors IF NOT EXISTS ON (a:Author) ASSERT a.name IS UNIQUE')
conn.query('CREATE CONSTRAINT categories IF NOT EXISTS ON (c:Category) ASSERT c.category IS UNIQUE')

In [30]:
def add_article(rows, batch_size=10000):
    # Adds author nodes to the Neo4j graph as a batch job.

    query = '''UNWIND $rows AS row
               MERGE (:Author {name: row.author})
               RETURN count(*) as total
    '''
    return insert_data(query, rows, batch_size)

In [31]:
articles = pd.DataFrame(art[['id']])
add_article(articles)

AttributeError: 'Neo4jDriver' object has no attribute 'query'

### test query

In [ ]:
query_string = '''
MATCH (c:Category) 
RETURN c.category, SIZE(()-[:IN_CATEGORY]->(c)) AS inDegree 
ORDER BY inDegree DESC LIMIT 20
'''

top_cat_df = pd.DataFrame([dict(_) for _ in conn.query(query_string)])
top_cat_df.head(20)

In [46]:
driver.close()  # close the driver object