In [1]:
import pandas as pd
from zipfile import ZipFile 
pd.set_option("display.max_columns",1000)

import findspark
import pyspark
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
findspark.init()
#findspark.init('C:\Spark\spark-3.1.1-bin-hadoop2.7')
findspark.find()

'C:\\Spark\\spark-3.1.1-bin-hadoop2.7'

## Create Spark df
In order to work with spark within python, we need to create a Spark Session. Here we call the app ' Project1 ' and we assign this to a python object named 'spark'

In [2]:
spark = SparkSession.builder.appName('Project1').getOrCreate()#.master("local") #?

In [3]:
spark.catalog.listTables()

[]

### CSV to python df
We pull in the flights.csv first as a pandas dataframe in python. Within python, we can do some basic cleaning and manipulation for the tasks ahead.

*important*: 

Here, in preparation for task 3, we create a column named 'DEP_HR' which is a string containing just the hour that the flight departed. We will use this as our y variable in our regression model

In [4]:
df = pd.read_csv('flights.csv.zip')
df = df.fillna(0)
df['DEP_TIME'] = df['DEP_TIME'].astype('int')
df['DEP_HR'] = df['DEP_TIME'].astype('str').str[:-2] 
df['ARR_TIME'] = df['ARR_TIME'].astype('int')
df = df.fillna(0)
df = df.astype('str')
df

,FL_DATE,TAIL_NUM,CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 19,DEP_HR
0,2019-01-01,N8974C,9E,AVL,"Asheville, NC",ATL,"Atlanta, GA",1658,-7.0,1758,-22.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16
1,2019-01-01,N922XJ,9E,JFK,"New York, NY",RDU,"Raleigh/Durham, NC",1122,-8.0,1255,-29.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11
2,2019-01-01,N326PQ,9E,CLE,"Cleveland, OH",DTW,"Detroit, MI",1334,-7.0,1417,-31.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13
3,2019-01-01,N135EV,9E,BHM,"Birmingham, AL",ATL,"Atlanta, GA",1059,-1.0,1255,-8.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
4,2019-01-01,N914XJ,9E,GTF,"Great Falls, MT",MSP,"Minneapolis, MN",1057,-3.0,1418,-17.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2019-01-01,N257NN,MQ,STL,"St. Louis, MO",ORD,"Chicago, IL",1220,14.0,1327,-7.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12
996,2019-01-01,N855AE,MQ,LGA,"New York, NY",CMH,"Columbus, OH",1048,-12.0,1233,-34.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
997,2019-01-01,N688AE,MQ,ORD,"Chicago, IL",COU,"Columbia, MO",2317,52.0,104,80.0,0.0,0,0.0,0.0,0.0,28.0,0.0,52.0,0.0,23
998,2019-01-01,N262NN,MQ,MSN,"Madison, WI",ORD,"Chicago, IL",0,0.0,0,0.0,1.0,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,
999,2019-01-01,N228NN,MQ,DFW,"Dallas/Fort Worth, TX",LEX,"Lexington, KY",1821,36.0,2120,32.0,0.0,0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,18

### Define Schema
for ease of loading into Spark, we make everything a string initially

In [5]:
from pyspark.sql.types import StructType, IntegerType, DateType
from pyspark.sql.types import *

schema = StructType([
    StructField("FL_DATE", StringType()),#, DateType()),
    StructField("TAIL_NUM", StringType()),
    StructField("CARRIER", StringType()),
    StructField("ORIGIN", StringType()),
    StructField("ORIGIN_CITY_NAME", StringType()),
    StructField("DEST", StringType()),
    StructField("DEST_CITY_NAME", StringType()),
    StructField("DEP_TIME", StringType()),
    StructField("DEP_DELAY", StringType()),#, DoubleType()),
    StructField("ARR_TIME", StringType()),
    StructField("ARR_DELAY", StringType()),#, DoubleType()),
    StructField("CANCELLED", StringType()),
    StructField("CANCELLATION_CODE", StringType()),
    StructField("DIVERTED", StringType()),
    StructField("CARRIER_DELAY", StringType()),
    StructField("WEATHER_DELAY", StringType()),
    StructField("NAS_DELAY", StringType()),
    StructField("SECURITY_DELAY", StringType()),
    StructField("LATE_AIRCRAFT_DELAY", StringType()),
    StructField("Unnamed: 19", StringType()),#, IntegerType())
    StructField("DEP_HR", StringType())
])

### Create Spark DF from pandas df
Now we create a Spark dataframe from our pandas dataframe in python. We print the schema just to review it and verify that everything worked correctly

In [6]:
#Create PySpark DataFrame from Pandas
flts=spark.createDataFrame(df,schema=schema) 
flts.printSchema()
flts.show()

root
 |-- FL_DATE: string (nullable = true)
 |-- TAIL_NUM: string (nullable = true)
 |-- CARRIER: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- ORIGIN_CITY_NAME: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEST_CITY_NAME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Unnamed: 19: string (nullable = true)
 |-- DEP_HR: string (nullable = true)

+----------+--------+-------+------+--------------------+----+------------------+--------+---------+--------+---------+---------+-----------------+--------+-------------+-------------+---------+--------------+-------------------+-----------+------+
|   FL_DATE|TAIL_NUM|CARRIER|ORIGIN|    ORIGIN_CITY_NAME|DEST|    DEST_CITY_NAME|DEP_TIME|DEP_DELAY|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 19|DEP_HR|
+----------+--------+-------+------+--------------------+----+------------------+--------+---------+--------+---------+---------+-----------------+--------+-------------+-------------+---------+--------------+-------------------+-----------+------+
|2019-01-01|  N8974C|     9E|   AVL|       Asheville, NC| ATL|       Atlanta, GA|    1658|     -7.0|    1758|    -22.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    16|
|2019-01-01|  N922XJ|     9E|   JFK|        New York, NY| RDU|Raleigh/Durham, NC|    1122|     -8.0|    1255|    -29.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    11|
|2019-01-01|  N326PQ|     9E|   CLE|       Cleveland, OH| DTW|       Detroit, MI|    1334|     -7.0|    1417|    -31.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    13|
|2019-01-01|  N135EV|     9E|   BHM|      Birmingham, AL| ATL|       Atlanta, GA|    1059|     -1.0|    1255|     -8.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    10|
|2019-01-01|  N914XJ|     9E|   GTF|     Great Falls, MT| MSP|   Minneapolis, MN|    1057|     -3.0|    1418|    -17.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    10|
|2019-01-01|  N924EV|     9E|   GRB|       Green Bay, WI| DTW|       Detroit, MI|     855|      0.0|    1125|     10.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|     8|
|2019-01-01|  N195PQ|     9E|   AGS|         Augusta, GA| ATL|       Atlanta, GA|     800|     -5.0|     900|    -16.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|     8|
|2019-01-01|  N319PQ|     9E|   CLT|       Charlotte, NC| JFK|      New York, NY|    1350|    -10.0|    1534|    -29.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    13|
|2019-01-01|  N933XJ|     9E|   MEM|         Memphis, TN| MSP|   Minneapolis, MN|    1441|     -4.0|    1641|    -18.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    14|
|2019-01-01|  N933XJ|     9E|   MSP|     Minneapolis, MN| MEM|       Memphis, TN|     847|     -4.0|    1114|     -6.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|     8|
|2019-01-01|  N8886A|     9E|   ATL|         Atlanta, GA| AEX|    Alexandria, LA|    1856|     -5.0|    1931|    -20.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    18|
|2019-01-01|  N302PQ|     9E|   AGS|         Augusta, GA| ATL|       Atlanta, GA|    1427|     -9.0|    1540|     -4.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    14|
|2019-01-01|  N302PQ|     9E|   ATL|         Atlanta, GA| AGS|       Augusta, GA|    1259|     -6.0|    1343|    -18.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    12|
|2019-01-01|  N272PQ|     9E|   CVG|      Cincinnati, OH| LGA|      New York, NY|     834|     -6.0|    1022|    -18.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|     8|
|2019-01-01|  N292PQ|     9E|   RDU|  Raleigh/Durham, NC| MCO|       Orlando, FL|    1324|     -1.0|    1504|    -14.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    13|
|2019-01-01|  N980EV|     9E|   GSO|Greensboro/High P...| LGA|      New York, NY|    1155|     -5.0|    1340|      3.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    11|
|2019-01-01|  N326PQ|     9E|   BIS| Bismarck/Mandan, ND| MSP|   Minneapolis, MN|     809|    124.0|     933|    109.0|      0.0|                0|     0.0|        109.0|          0.0|      0.0|           0.0|                0.0|        0.0|     8|
|2019-01-01|  N135EV|     9E|   ATL|         Atlanta, GA| AVL|     Asheville, NC|    1531|     -4.0|    1625|    -10.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    15|
|2019-01-01|  N8976E|     9E|   LGA|        New York, NY| BTV|    Burlington, VT|    1756|     -4.0|    1913|     -7.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    17|
|2019-01-01|  N925XJ|     9E|   PIT|      Pittsburgh, PA| JFK|      New York, NY|    1124|     -1.0|    1249|     -4.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|    11|
+----------+--------+-------+------+--------------------+----+------------------+--------+---------+--------+---------+---------+-----------------+--------+-------------+-------------+---------+--------------+-------------------+-----------+------+
only showing top 20 rows

### Change Delays from String to Doubles
Finally, now that we have a Spark dataframe - we know that some variables need to be transformed into numerical values. So we convert the strings DEP_DELAY, ARR_DELAY and DEP_HR into Doubles.

In [7]:
from pyspark.sql.types import DateType
flts = flts.withColumn("DEP_DELAY", flts['DEP_DELAY'].cast(DoubleType())).withColumn('ARR_DELAY', flts['ARR_DELAY'].cast(DoubleType())).withColumn("DEP_HR", flts['DEP_HR'].cast(DoubleType()))
flts.show()
print(flts.schema)

+----------+--------+-------+------+--------------------+----+------------------+--------+---------+--------+---------+---------+-----------------+--------+-------------+-------------+---------+--------------+-------------------+-----------+------+
|   FL_DATE|TAIL_NUM|CARRIER|ORIGIN|    ORIGIN_CITY_NAME|DEST|    DEST_CITY_NAME|DEP_TIME|DEP_DELAY|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 19|DEP_HR|
+----------+--------+-------+------+--------------------+----+------------------+--------+---------+--------+---------+---------+-----------------+--------+-------------+-------------+---------+--------------+-------------------+-----------+------+
|2019-01-01|  N8974C|     9E|   AVL|       Asheville, NC| ATL|       Atlanta, GA|    1658|     -7.0|    1758|    -22.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  16.0|
|2019-01-01|  N922XJ|     9E|   JFK|        New York, NY| RDU|Raleigh/Durham, NC|    1122|     -8.0|    1255|    -29.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  11.0|
|2019-01-01|  N326PQ|     9E|   CLE|       Cleveland, OH| DTW|       Detroit, MI|    1334|     -7.0|    1417|    -31.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  13.0|
|2019-01-01|  N135EV|     9E|   BHM|      Birmingham, AL| ATL|       Atlanta, GA|    1059|     -1.0|    1255|     -8.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  10.0|
|2019-01-01|  N914XJ|     9E|   GTF|     Great Falls, MT| MSP|   Minneapolis, MN|    1057|     -3.0|    1418|    -17.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  10.0|
|2019-01-01|  N924EV|     9E|   GRB|       Green Bay, WI| DTW|       Detroit, MI|     855|      0.0|    1125|     10.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|   8.0|
|2019-01-01|  N195PQ|     9E|   AGS|         Augusta, GA| ATL|       Atlanta, GA|     800|     -5.0|     900|    -16.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|   8.0|
|2019-01-01|  N319PQ|     9E|   CLT|       Charlotte, NC| JFK|      New York, NY|    1350|    -10.0|    1534|    -29.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  13.0|
|2019-01-01|  N933XJ|     9E|   MEM|         Memphis, TN| MSP|   Minneapolis, MN|    1441|     -4.0|    1641|    -18.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  14.0|
|2019-01-01|  N933XJ|     9E|   MSP|     Minneapolis, MN| MEM|       Memphis, TN|     847|     -4.0|    1114|     -6.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|   8.0|
|2019-01-01|  N8886A|     9E|   ATL|         Atlanta, GA| AEX|    Alexandria, LA|    1856|     -5.0|    1931|    -20.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  18.0|
|2019-01-01|  N302PQ|     9E|   AGS|         Augusta, GA| ATL|       Atlanta, GA|    1427|     -9.0|    1540|     -4.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  14.0|
|2019-01-01|  N302PQ|     9E|   ATL|         Atlanta, GA| AGS|       Augusta, GA|    1259|     -6.0|    1343|    -18.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  12.0|
|2019-01-01|  N272PQ|     9E|   CVG|      Cincinnati, OH| LGA|      New York, NY|     834|     -6.0|    1022|    -18.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|   8.0|
|2019-01-01|  N292PQ|     9E|   RDU|  Raleigh/Durham, NC| MCO|       Orlando, FL|    1324|     -1.0|    1504|    -14.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  13.0|
|2019-01-01|  N980EV|     9E|   GSO|Greensboro/High P...| LGA|      New York, NY|    1155|     -5.0|    1340|      3.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  11.0|
|2019-01-01|  N326PQ|     9E|   BIS| Bismarck/Mandan, ND| MSP|   Minneapolis, MN|     809|    124.0|     933|    109.0|      0.0|                0|     0.0|        109.0|          0.0|      0.0|           0.0|                0.0|        0.0|   8.0|
|2019-01-01|  N135EV|     9E|   ATL|         Atlanta, GA| AVL|     Asheville, NC|    1531|     -4.0|    1625|    -10.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  15.0|
|2019-01-01|  N8976E|     9E|   LGA|        New York, NY| BTV|    Burlington, VT|    1756|     -4.0|    1913|     -7.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  17.0|
|2019-01-01|  N925XJ|     9E|   PIT|      Pittsburgh, PA| JFK|      New York, NY|    1124|     -1.0|    1249|     -4.0|      0.0|                0|     0.0|          0.0|          0.0|      0.0|           0.0|                0.0|        0.0|  11.0|
+----------+--------+-------+------+--------------------+----+------------------+--------+---------+--------+---------+---------+-----------------+--------+-------------+-------------+---------+--------------+-------------------+-----------+------+
only showing top 20 rows

StructType(List(StructField(FL_DATE,StringType,true),StructField(TAIL_NUM,StringType,true),StructField(CARRIER,StringType,true),StructField(ORIGIN,StringType,true),StructField(ORIGIN_CITY_NAME,StringType,true),StructField(DEST,StringType,true),StructField(DEST_CITY_NAME,StringType,true),StructField(DEP_TIME,StringType,true),StructField(DEP_DELAY,DoubleType,true),StructField(ARR_TIME,StringType,true),StructField(ARR_DELAY,DoubleType,true),StructField(CANCELLED,StringType,true),StructField(CANCELLATION_CODE,StringType,true),StructField(DIVERTED,StringType,true),StructField(CARRIER_DELAY,StringType,true),StructField(WEATHER_DELAY,StringType,true),StructField(NAS_DELAY,StringType,true),StructField(SECURITY_DELAY,StringType,true),StructField(LATE_AIRCRAFT_DELAY,StringType,true),StructField(Unnamed: 19,StringType,true),StructField(DEP_HR,DoubleType,true)))

as the final step for the data preparation, we create a temporary SQL table named "flights". We will use this in the tasks to more easily manipulate the data in a "SQL-esque" environment

In [8]:
flts.createOrReplaceTempView("flights")

# Task 2 [35 points]
For this task you continue to work with SparkSQL. The objective is to create reports on the
average and median departure delays of 
- (a) all the airports
- (b) all the airways in the dataset
You should give four reports: 
- two for the airports (average/median delays)
- two for the airways (average/median delays)

Each report is a CSV file containing one line for each airport/airway 
and the lines of each file should be ordered (in descending order) based on the
corresponding criterion (average/median delay). 
No header files are required for these files.
An extra instruction you have from your supervisor is that you should take care of some data
outliers: you should not consider in your analysis any airports/airways that have extremely
low number of flights; the criterion is that any airport/airway belonging in the lowest 1%
percentile, regarding the number of flights, should be omitted. Your deliverables for this task
are the following:
- A Python file (named “task2.py”) containing the code to produce the reports.
- A report (named “task2.pdf”) explaining the basic intuition of your code.
- The four report files (named “task2-ap-avg.csv”, “task2-ap-med.csv”, “task2-awavg.csv”, and “task2-aw-med.csv”) having the determined file structure. Please
restrict the number of lin

## Airports Departure Delays

### Average
In this first query, we are simpy trying to get the lowest 1% percentile. We then take that value and use it as a parameter in the second query.

Additionally, we limit the records to 100 per the instructions so we do not create too much data in the CSV files.

In [9]:
query = spark.sql("""
    SELECT 
    ORIGIN
    , avg(DEP_DELAY)
    FROM flights 
    group by ORIGIN
    order by 2 desc
    limit 100;
    """)
perc = query.stat.approxQuantile("avg(DEP_DELAY)",[0.01],0.0)
perc = int(perc[0])
perc

-4

we create a CSV file in our directory limited to 100 rows and headless

In [10]:
query = spark.sql("""
    SELECT ORIGIN
    , avg(DEP_DELAY)
    FROM flights 
    group by ORIGIN
    having avg(DEP_DELAY) > {}
    order by 2 desc
    limit 100;
    """.format(perc))
query.repartition(1).write.csv("task2-ap-avg.csv", sep=',',header=None)
query.show()

+------+------------------+
|ORIGIN|    avg(DEP_DELAY)|
+------+------------------+
|   TVC|             209.0|
|   VPS|             131.5|
|   BIS|             124.0|
|   PWM|              87.5|
|   BIL|              59.0|
|   GTF|              49.0|
|   RFD|              46.0|
|   TUS|              36.0|
|   CMH|34.285714285714285|
|   MSN|              34.0|
|   XNA|              34.0|
|   ELP|              31.5|
|   FWA|              31.0|
|   BLI|30.666666666666668|
|   ABQ|              29.0|
|   KOA|              28.0|
|   ALB|              27.0|
|   AZA|26.333333333333332|
|   ONT|              25.0|
|   MCI|24.666666666666668|
+------+------------------+
only showing top 20 rows

### Median
In this first query, we are simpy trying to get the lowest 1% percentile. We then take that value and use it as a parameter in the second query. We continue this pattern for the Airway Departure Delays and in the interest of brevity, I will not duplicate this comment below

In [11]:
query = spark.sql("""
    SELECT ORIGIN
    ,percentile(DEP_DELAY, 0.5) as med
    FROM flights 
    group by ORIGIN
    order by 2 desc
    limit 100;
    """)
perc = query.stat.approxQuantile("med",[0.01],0.0)
perc = int(perc[0])
perc

-5

In [12]:
query = spark.sql("""
    SELECT ORIGIN
    ,percentile(DEP_DELAY, 0.5) as med
    FROM flights 
    group by ORIGIN
    having med > {}
    order by 2 desc
    limit 100;
    """.format(perc))
query.repartition(1).write.csv("task2-ap-med.csv", sep=',',header=None)
query.show()

+------+-----+
|ORIGIN|  med|
+------+-----+
|   TVC|209.0|
|   VPS|131.5|
|   BIS|124.0|
|   PWM| 87.5|
|   BIL| 59.0|
|   GTF| 49.0|
|   RFD| 46.0|
|   MSN| 34.0|
|   XNA| 34.0|
|   ELP| 31.5|
|   FWA| 31.0|
|   ABQ| 29.0|
|   KOA| 28.0|
|   ALB| 27.0|
|   ONT| 25.0|
|   SFB| 23.0|
|   COU| 23.0|
|   AZA| 21.0|
|   BQN| 21.0|
|   MSO| 21.0|
+------+-----+
only showing top 20 rows

## Airways Departure Delays

### Average

In [13]:
query = spark.sql("""
    SELECT 
    CARRIER
    , avg(DEP_DELAY)
    FROM flights 
    group by CARRIER
    order by 2 desc
    limit 100;
    """)
perc = query.stat.approxQuantile("avg(DEP_DELAY)",[0.01],0.0)
perc = int(perc[0])
perc

2

In [14]:
query = spark.sql("""
    SELECT
    CARRIER
    , avg(DEP_DELAY)
    FROM flights 
    group by CARRIER
    having avg(DEP_DELAY) > {}
    order by 2 desc
    limit 100;
    """.format(perc))
query.repartition(1).write.csv("task2-aw-avg.csv", sep=',',header=None)
query.show()

+-------+------------------+
|CARRIER|    avg(DEP_DELAY)|
+-------+------------------+
|     G4|11.942857142857143|
|     MQ|  7.91044776119403|
|     AA| 7.249578414839798|
|     NK| 4.504273504273504|
|     9E|2.6405228758169934|
+-------+------------------+

### Median

In [15]:
query = spark.sql("""
    SELECT
    CARRIER
    ,percentile(DEP_DELAY, 0.5) as med
    FROM flights 
    group by CARRIER
    order by 2 desc
    limit 100;
    """)
perc = query.stat.approxQuantile("med",[0.01],0.0)
perc = int(perc[0])
perc

-5

In [16]:
query = spark.sql("""
    SELECT
    CARRIER
    ,percentile(DEP_DELAY, 0.5) as med
    FROM flights 
    group by CARRIER
    having med > {}
    order by 2 desc
    limit 100;
    """.format(perc))
query.repartition(1).write.csv("task2-aw-med.csv", sep=',',header=None)
query.show()

+-------+----+
|CARRIER| med|
+-------+----+
|     MQ| 0.0|
|     AA|-1.0|
|     G4|-1.5|
|     NK|-3.0|
+-------+----+